In [18]:
import pandas as pd

In [19]:
import numpy as np

In [20]:
nes = pd.Series([1,"Ali",3.5,"Haci"])

In [21]:
nes

0       1
1     Ali
2     3.5
3    Haci
dtype: object

In [22]:
nes[3]

'Haci'

In [24]:
d=nes.values # Serisı diziye Çevirme

In [25]:
d

array([1, 'Ali', 3.5, 'Haci'], dtype=object)

In [26]:
nes1=pd.Series([1,"Ali",3.5,"Haci"], index=["a","b","c","d"]) # Series ın indekslerini değiştirmek farklı isim

In [27]:
nes1["a"]

1

In [28]:
nes1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [29]:
# sözlüğü serese çevirmek

In [30]:
s={"ali":200,"veli":300,"ayse":500}

In [31]:
ss=pd.Series(s)

In [32]:
ss

ali     200
veli    300
ayse    500
dtype: int64

In [33]:
ss["ali"]

200

In [34]:
ss[ss>250]

veli    300
ayse    500
dtype: int64

In [35]:
ss<400

ali      True
veli     True
ayse    False
dtype: bool

In [36]:
ss["ali"]=250

In [37]:
ss

ali     250
veli    300
ayse    500
dtype: int64

In [38]:
ss[ss<350]=222

In [39]:
ss

ali     222
veli    222
ayse    500
dtype: int64

In [42]:
"veli" in ss

True

In [44]:
ss

ali     222
veli    222
ayse    500
dtype: int64

In [49]:
222 in ss

False

In [50]:
ss/10

ali     22.2
veli    22.2
ayse    50.0
dtype: float64

In [52]:
ss.isnull()

ali     False
veli    False
ayse    False
dtype: bool

In [ ]:
# series veri yapısı örnekler

In [53]:
oyunlar=pd.read_csv("vgsalesGlobale.csv")

In [55]:
oyunlar.head() # ilk 5 veriyi getirme

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [56]:
oyunlar.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [57]:
oyunlar.Name.head()

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

In [58]:
oyunlar["Platform"].head()

0    Wii
1    NES
2    Wii
3    Wii
4     GB
Name: Platform, dtype: object

In [59]:
oyunlar[["Platform","Name"]].head()

  Platform                      Name
0      Wii                Wii Sports
1      NES         Super Mario Bros.
2      Wii            Mario Kart Wii
3      Wii         Wii Sports Resort
4       GB  Pokemon Red/Pokemon Blue